:root {
  font-family: 'Fira Code'
}
* {
  font-family: 'Fira Code'
}
.cm-line .cm-inline-code {
  font-family: 'Fira Code';
  font-size: 14px;
}
.HyperMD-codeblock, 
.HyperMD-codeblock-begin,
.HyperMD-codeblock-begin-bg, 
.HyperMD-codeblock-bg ,
.cm-line,
.cm-header{
  padding: 5px 0px;
}
